@font-face {
    font-family: "HudsonNYPro-Bold";
    src: url('../fonts/HudsonNYProBold/font.woff2') format('woff2'), url('../fonts/HudsonNYProBold/font.woff') format('woff');
  }

body {
    background-color: #518953;
}


h1 {
  font-family: "HudsonNYPro-Bold";
  color: white;
  font-size: 70px;
  letter-spacing: -0.5px;
  padding: 40px;
  max-width: 650px;
}

section {
    min-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    background-size: cover;
    padding: 20px;
  }


  p {
    font-family:Georgia, 'Times New Roman', Times, serif; 
        color: #ffffff;
        font-size: 14pt;
        max-width: 500px;
        text-align: left;
        line-height: 1.4;
        padding: 2px;
        padding-left: 40px;
  }

  img {
      padding-left: 40px;
      max-width: 700px;
      padding-top: 30px;
  }

  .logo {
      max-width: 120px;
      padding-left: 10px;
  }

      @media only screen and (max-width: 992px) {

        section {
          min-height: 100vh;
        }

        h1 {
          font-size: 55px;
          padding-left: 20px;
        }

        p {
          font-size: 12px;
          padding-left: 20px;
        }

        ul {
          font-size: 12px;
          padding-left: 20px;
        }

        img {
            padding-left: 20px;
            padding-right: 20px;
        }

      }


      @media only screen and (max-width: 600px) {

      section {
        min-height: 100vh;
        
      }

      h1 {
        font-size: 35px;
        padding-left: 10px;
        padding-top: 10px;
      }

      p {
        font-size: 10px;
        padding-left: 10px;

      }
    
      img {
        max-width: 400px;
        
        

      }
    
    }